In [1]:

date='''"2022-01-21 00:00:00.000000"'''

import pyomo.environ as pyo
# install glpk in pyomo/solvers/ folder.
import pandas as pd

import sqlite3

cnx = sqlite3.connect('/Users/kultiginbozdemir/Documents/GitHub/op_room_opt/Website/test2.db') # change the path

#class Solve_Problem:


query = ''.join(['SELECT * FROM user__entries WHERE operation_date==',str(date)])# change name of the table.  save them with date in db. 

basket = pd.read_sql(query,cnx)
basket.index=basket.id

query_dep_cap =''.join(['SELECT * FROM department__info WHERE date==',str(date)]) # table of department capacities
dep_df = pd.read_sql_query(query_dep_cap, cnx)# departments
dep_df.index=dep_df.department_name
dep_df['department_capacity']=dep_df['department_capacity'].astype(int)
 


query_op_cap = ''.join(['SELECT * FROM operation_rooms__info WHERE date==',str(date)]) # table of operation room capacities

op_df = pd.read_sql_query(query_op_cap, cnx)# operations room
op_df.index=op_df.room_name
op_df['room_capacity']=op_df['room_capacity'].astype(int)
op_df

,id,room_name,room_capacity,date
room_name,,,,
Room_1,Room_1-a0a7fd82-827e-45a3-9027-14f8dff0bea1,Room_1,200,2022-01-21 00:00:00.000000
Room_3,Room_3-e2e86bba-ae27-4c5f-9a64-f939e07ac2d3,Room_3,200,2022-01-21 00:00:00.000000
Room_2,Room_2-60c676be-4805-49ad-8b5a-5ab395976f90,Room_2,60,2022-01-21 00:00:00.000000
Room_4,Room_4-9e915ee6-2cbd-4384-857b-e999132a06b8,Room_4,95,2022-01-21 00:00:00.000000
Room_5,Room_5-d8a630e4-0da4-4cc8-a860-8405252a824d,Room_5,120,2022-01-21 00:00:00.000000

In [2]:
dep_df

,id,department_name,department_capacity,date
department_name,,,,
Department_1,Department_1-c292423f-db19-4de8-9ef3-663d2fe7c29e,Department_1,100,2022-01-21 00:00:00.000000
Department_2,Department_2-c88e5c89-23ff-4436-97d9-f7d2f64ddce9,Department_2,200,2022-01-21 00:00:00.000000
Department_3,Department_3-f9a43b2e-b14c-4267-b846-b22cc1de8359,Department_3,200,2022-01-21 00:00:00.000000
Department_4,Department_4-6a3386b0-e5da-4225-ba3f-aa3ce6b11ea0,Department_4,200,2022-01-21 00:00:00.000000
Department_5,Department_5-8e5dac0a-5999-4c65-8662-51a9d9e07e4d,Department_5,170,2022-01-21 00:00:00.000000

In [3]:
op_df['room_capacity'].dtype

dtype('int64')

In [4]:
dep_df['department_capacity']=dep_df['department_capacity'].astype(int)

In [5]:
basket

,id,doctor,operation_date,department_name,operation_duration,operation_urgency
id,,,,,,
Department_2-f7cb7a5b-ec5b-4157-84a9-c67a634dae7a,Department_2-f7cb7a5b-ec5b-4157-84a9-c67a634dae7a,Jack Bauer,2022-01-21 00:00:00.000000,Department_2,45,3
Department_2-d31b80c6-5205-4781-a40d-3c98856906f9,Department_2-d31b80c6-5205-4781-a40d-3c98856906f9,John Doe,2022-01-21 00:00:00.000000,Department_2,60,3
Department_2-b02bc3c2-5421-42e7-9594-072172eecd5f,Department_2-b02bc3c2-5421-42e7-9594-072172eecd5f,Jack,2022-01-21 00:00:00.000000,Department_2,46,4
Department_3-c1bcae1d-bad6-4607-8b91-196c2d935977,Department_3-c1bcae1d-bad6-4607-8b91-196c2d935977,Kurt,2022-01-21 00:00:00.000000,Department_3,50,3
Department_5-121d22d5-c97d-47d5-8948-f41431f7ab21,Department_5-121d22d5-c97d-47d5-8948-f41431f7ab21,Kurt Bozdemir,2022-01-21 00:00:00.000000,Department_5,120,5
Department_1-daa314dd-52a5-47ae-964c-0df1f10687d1,Department_1-daa314dd-52a5-47ae-964c-0df1f10687d1,Shirvan Hashimov,2022-01-21 00:00:00.000000,Department_1,60,7
Department_4-cdb011f8-5e28-48bf-9055-913b066db356,Department_4-cdb011f8-5e28-48bf-9055-913b066db356,Elon Musk,2022-01-21 00:00:00.000000,Department_4,60,1
Department_3-64aef08a-2707-41ac-b1ae-95833498562f,Department_3-64aef08a-2707-41ac-b1ae-95833498562f,Larry Williams,2022-01-21 00:00:00.000000,Department_3,75,2

In [6]:
basket['operation_duration'].dtype

dtype('int64')

In [11]:
# multi-knapsack, integer divisible

mdl = pyo.ConcreteModel()

# make sure id is also index in database user__entries
mdl.invs = pyo.Set(initialize=list(zip(basket.index, basket["department_name"])))
mdl.bins = pyo.Set(initialize=list(op_df.room_name)) ## list of operations room from db
mdl.deps = pyo.Set(initialize=list(dep_df.department_name)) # list of departments from db

# params
mdl.value   = pyo.Param(mdl.invs, initialize= {(i,row["department_name"]):row["operation_urgency"] for i,row in basket.iterrows()} )
mdl.weight  = pyo.Param(mdl.invs, initialize= {(i,row["department_name"]):row["operation_duration"] for i,row in basket.iterrows()})
mdl.bin_cap = pyo.Param(mdl.bins, initialize= {i:row["room_capacity"] for i,row in op_df.iterrows()} )
mdl.dep_cap = pyo.Param(mdl.deps, initialize= {i:row["department_capacity"] for i,row in dep_df.iterrows()}, mutable=True)



# vars
mdl.X = pyo.Var(mdl.invs, mdl.bins, within=pyo.Binary)     # the amount from invoice i in bin j



### Objective ###

mdl.OBJ = pyo.Objective(expr=sum(mdl.X[i, b]*mdl.value[i] for 
                        i in mdl.invs for
                        b in mdl.bins), sense=pyo.maximize)


### constraints ###

# don't overstuff bin
def bin_limit(self, b):
    return sum(mdl.X[i, b]*mdl.weight[i] for i in mdl.invs) <= mdl.bin_cap[b]
mdl.bin_limit = pyo.Constraint(mdl.bins, rule=bin_limit)

# one_item can be only in a single op room.
def one_item(self, i,d):
    return sum(mdl.X[i,d,b] for b in mdl.bins) <=1
mdl.one_item = pyo.Constraint(mdl.invs, rule=one_item)



# department limits

mdl.dep_limits=pyo.ConstraintList()

for d in mdl.deps:
    d_list=[]
    for i in mdl.X:
        if d==i[1]:
            d_list.append(i)    
    mdl.dep_limits.add(expr=(sum(mdl.X[i]*mdl.weight[i[:2]] for i in d_list)<=mdl.dep_cap[d])) 



# solve it...
solver = pyo.SolverFactory('glpk')
results = solver.solve(mdl)

In [12]:
results

{'Problem': [{'Name': 'unknown', 'Lower bound': 28.0, 'Upper bound': 28.0, 'Number of objectives': 1, 'Number of constraints': 19, 'Number of variables': 41, 'Number of nonzeros': 121, 'Sense': 'maximize'}], 'Solver': [{'Status': 'ok', 'Termination condition': 'optimal', 'Statistics': {'Branch and bound': {'Number of bounded subproblems': '7', 'Number of created subproblems': '7'}}, 'Error rc': 0, 'Time': 0.0395357608795166}], 'Solution': [OrderedDict([('number of solutions', 0), ('number of solutions displayed', 0)])]}