In [14]:
date='''"2022-02-19 00:00:00.000000"'''

import pyomo.environ as pyo #install pyomo
# conda install -c conda-forge pyomo
# install glpk 
# conda install -c conda-forge glpk
import pandas as pd

import sqlite3

con = sqlite3.connect('/Users/kultiginbozdemir/Documents/GitHub/op_room_opt/Website/test.db') # change the path


query = ''.join(['select * FROM user_entries WHERE operation_date==',str(date)])# change name of the table.  save them with date in db. 
cur=con.cursor()
cur.execute(query)
result=cur.fetchall()

df=pd.DataFrame(result, columns=['id','doctor','operation_date','department_name','operation_duration','operation_urgency','operation_room'])

df.set_index('id')

,doctor,operation_date,department_name,operation_duration,operation_urgency,operation_room
id,,,,,,
Department_1-923716c6-cf97-4856-a996-4bea22397914,Jack Bauer,2022-02-19 00:00:00.000000,Department_1,20,3,Room_5
Department_1-0704df1f-acac-4ab4-ac41-9d26bc326902,Kurt Boz,2022-02-19 00:00:00.000000,Department_1,45,8,Room_1
Department_2-24a7b9a1-d766-4045-b180-7ff3f031cd02,Kurt,2022-02-19 00:00:00.000000,Department_2,23,1,Room_2
Department_5-22054592-a406-49bd-8ec0-1087784b0013,Norbert,2022-02-19 00:00:00.000000,Department_5,22,10,Room_2
Department_4-335326d6-cc07-44dd-bd65-311967a10167,Agatha,2022-02-19 00:00:00.000000,Department_4,44,6,Room_2
Department_3-d2365ebd-e4ec-4a26-98eb-c13e893ac6e5,Kurt,2022-02-19 00:00:00.000000,Department_3,12,10,Room_1

In [5]:
query = ''.join(['select * FROM operation_rooms_info WHERE date==',str(date)])# change name of the table.  save them with date in db. 
cur=con.cursor()
cur.execute(query)
result=cur.fetchall()
result

[('Room_1-0feddaef-626b-4c51-b53f-21211f555e6e',
  'Room_1',
  60,
  '2022-02-19 00:00:00.000000'),
 ('Room_2-db4ada97-d0a7-42f5-a6f6-6e4408531847',
  'Room_2',
  130,
  '2022-02-19 00:00:00.000000'),
 ('Room_3-0636809c-ca2c-436b-9f28-c6e8ba18eab0',
  'Room_3',
  95,
  '2022-02-19 00:00:00.000000'),
 ('Room_4-2981aba7-f370-4e1e-98d8-7a233c85add4',
  'Room_4',
  100,
  '2022-02-19 00:00:00.000000'),
 ('Room_5-8b88d4b3-dd58-4fae-9e99-e81bf0a5abc3',
  'Room_5',
  75,
  '2022-02-19 00:00:00.000000')]

In [6]:
op_room_name=[i[1] for i in result]
op_room_name

['Room_1', 'Room_2', 'Room_3', 'Room_4', 'Room_5']

In [7]:
op_room_cap=[i[2] for i in result]
op_room_cap

[60, 130, 95, 100, 75]

In [9]:
query = ''.join(['select * FROM department_info WHERE date==',str(date)])# change name of the table.  save them with date in db. 
cur=con.cursor()
cur.execute(query)
result=cur.fetchall()
result
dep_name=[i[1] for i in result]
dep_cap=[i[2] for i in result]

In [10]:
dep_name

['Department_1',
 'Department_2',
 'Department_3',
 'Department_4',
 'Department_5']

In [11]:
dep_cap

[120, 150, 80, 60, 75]