In [50]:
date='''"2022-01-21 00:00:00.000000"'''

import pyomo.environ as pyo #install pyomo
# conda install -c conda-forge pyomo
# install glpk 
# conda install -c conda-forge glpk
import pandas as pd

import sqlite3

con = sqlite3.connect('/Users/kultiginbozdemir/Documents/GitHub/op_room_opt/WebApp/test2.db') # change the path

query = ''.join(['select * FROM user__entries WHERE operation_date==',str(date)])# change name of the table.  save them with date in db. 
cur=con.cursor()
cur.execute(query)
result=cur.fetchall()

df=pd.DataFrame(result, columns=['id','doctor','operation_date','department_name','operation_duration','operation_urgency','operation_room'])

df.set_index('id')

,doctor,operation_date,department_name,operation_duration,operation_urgency,operation_room
id,,,,,,
Department_2-f7cb7a5b-ec5b-4157-84a9-c67a634dae7a,Jack Bauer,2022-01-21 00:00:00.000000,Department_2,45,3,Room_2
Department_2-d31b80c6-5205-4781-a40d-3c98856906f9,John Doe,2022-01-21 00:00:00.000000,Department_2,60,3,Room_5
Department_2-b02bc3c2-5421-42e7-9594-072172eecd5f,Jack,2022-01-21 00:00:00.000000,Department_2,46,4,Room_1
Department_3-c1bcae1d-bad6-4607-8b91-196c2d935977,Kurt,2022-01-21 00:00:00.000000,Department_3,50,3,Room_1
Department_5-121d22d5-c97d-47d5-8948-f41431f7ab21,Kurt Bozdemir,2022-01-21 00:00:00.000000,Department_5,120,5,Room_3
Department_1-daa314dd-52a5-47ae-964c-0df1f10687d1,Shirvan Hashimov,2022-01-21 00:00:00.000000,Department_1,60,7,Room_1
Department_4-cdb011f8-5e28-48bf-9055-913b066db356,Elon Musk,2022-01-21 00:00:00.000000,Department_4,60,1,Room_3
Department_3-64aef08a-2707-41ac-b1ae-95833498562f,Larry Williams,2022-01-21 00:00:00.000000,Department_3,75,2,Room_4

In [8]:
query = ''.join(['select * FROM operation_rooms__info WHERE date==',str(date)])# change name of the table.  save them with date in db. 
cur=cnx.cursor()
cur.execute(query)
result=cur.fetchall()
result

[('Room_1-a0a7fd82-827e-45a3-9027-14f8dff0bea1',
  'Room_1',
  200,
  '2022-01-21 00:00:00.000000'),
 ('Room_3-e2e86bba-ae27-4c5f-9a64-f939e07ac2d3',
  'Room_3',
  200,
  '2022-01-21 00:00:00.000000'),
 ('Room_2-60c676be-4805-49ad-8b5a-5ab395976f90',
  'Room_2',
  60,
  '2022-01-21 00:00:00.000000'),
 ('Room_4-9e915ee6-2cbd-4384-857b-e999132a06b8',
  'Room_4',
  95,
  '2022-01-21 00:00:00.000000'),
 ('Room_5-d8a630e4-0da4-4cc8-a860-8405252a824d',
  'Room_5',
  120,
  '2022-01-21 00:00:00.000000')]

In [12]:
op_room_name=[i[1] for i in result]
op_room_name

['Room_1', 'Room_3', 'Room_2', 'Room_4', 'Room_5']

In [11]:
op_room_cap=[i[2] for i in result]
op_room_cap

[200, 200, 60, 95, 120]

In [14]:
query = ''.join(['select * FROM department__info WHERE date==',str(date)])# change name of the table.  save them with date in db. 
cur=cnx.cursor()
cur.execute(query)
result=cur.fetchall()
result
dep_name=[i[1] for i in result]
dep_cap=[i[2] for i in result]

In [15]:
dep_name

['Department_1',
 'Department_2',
 'Department_3',
 'Department_4',
 'Department_5']

In [16]:
dep_cap

['100', '200', '200', '200', '170']