In [52]:
from flask import Flask, render_template, url_for, request, redirect
from flask_sqlalchemy import SQLAlchemy
from datetime import date, datetime

from sqlalchemy import except_
#from algorithm import Solve_Problem
import uuid
import pandas as pd
import pyomo.environ as pyo

In [57]:
app = Flask(__name__)
app.config['SQLALCHEMY_DATABASE_URI'] = 'sqlite:///test2.db'
db = SQLAlchemy(app)
op_date_formatted='2022-02-19 00:00:00.000000'

/Users/kultiginbozdemir/opt/anaconda3/envs/CO2/lib/python3.7/site-packages/flask_sqlalchemy/__init__.py:873: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  'SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and '

In [58]:
db

In [59]:
class User_Entries(db.Model):
    id = db.Column(db.String(200), primary_key=True)
    doctor = db.Column(db.String(200), nullable= False)
    operation_date = db.Column(db.DateTime, nullable=False)
    department_name = db.Column(db.String(200), nullable=False)
    operation_duration  = db.Column(db.Integer, nullable= False)
    operation_urgency = db.Column(db.Integer, nullable=False)
    operation_room = db.Column(db.String(200))
    
class Department_Info(db.Model):
    id = db.Column(db.String(200), primary_key=True)
    department_name = db.Column(db.String(200), nullable=False)
    department_capacity = db.Column(db.Integer, nullable=False)
    date = db.Column(db.DateTime, nullable=False)

class Operation_rooms_Info(db.Model):
    id = db.Column(db.String(200), primary_key=True)
    room_name = db.Column(db.String(200), nullable=False)
    room_capacity = db.Column(db.Integer, nullable=False)
    date = db.Column(db.DateTime, nullable=False)

In [60]:
user_entries = User_Entries.query.filter(User_Entries.operation_date==op_date_formatted).all()
table=[(str(e).split()[1].strip('>'),e.doctor, e.operation_date,e.department_name, e.operation_duration,e.operation_urgency, e.operation_room) for e in user_entries]

basket = pd.DataFrame(table, columns=['id','doctor','operation_date','department_name','operation_duration','operation_urgency','operation_room'])
basket.index=basket['id']
basket

,id,doctor,operation_date,department_name,operation_duration,operation_urgency,operation_room
id,,,,,,,
Department_5-87ca82a9-b5f6-489c-9384-d75d2c632a47,Department_5-87ca82a9-b5f6-489c-9384-d75d2c632a47,Jack,2022-02-19,Department_5,70,7,None
Department_4-440ad8fa-4580-49cc-a12b-faf0a31af41a,Department_4-440ad8fa-4580-49cc-a12b-faf0a31af41a,John Cena,2022-02-19,Department_4,90,5,None
Department_1-20e8e301-1cdd-4b29-ac26-72a7376b5c22,Department_1-20e8e301-1cdd-4b29-ac26-72a7376b5c22,Kurt Boz,2022-02-19,Department_1,100,10,None
Department_2-4dd8a4b8-978d-498e-a1bb-f07897abd374,Department_2-4dd8a4b8-978d-498e-a1bb-f07897abd374,Shirvan Hashimov,2022-02-19,Department_2,200,8,None
Department_2-eefb1c4c-ccb2-4611-bd4c-a1a420bda81c,Department_2-eefb1c4c-ccb2-4611-bd4c-a1a420bda81c,Dekre dss,2022-02-19,Department_2,35,3,None

In [61]:
departments_info = Department_Info.query.filter(Department_Info.date==op_date_formatted).all()

table2 =[(str(e).split()[1].strip('>'),e.department_name, e.department_capacity,e.date) for e in departments_info]
dep_df=pd.DataFrame(table2, columns=['id','department_name','department_capacity','date'])
dep_df.set_index('id')
dep_df['department_capacity']=dep_df['department_capacity'].astype(int)
dep_df

,id,department_name,department_capacity,date
0,Department_1-087d488d-6966-489f-9681-c2b592e2656b,Department_1,350,2022-02-19
1,Department_2-3f779c71-082c-44b2-ad6e-427d2d077259,Department_2,450,2022-02-19
2,Department_3-9653c8f0-3648-4c95-9247-32415191fda4,Department_3,200,2022-02-19
3,Department_4-de9c7093-68ab-4532-b572-b731c0c70d96,Department_4,290,2022-02-19
4,Department_5-e593f3c4-41c8-404a-bf1a-0bacaf364fbb,Department_5,410,2022-02-19

In [62]:
operation_rooms_info = Operation_rooms_Info.query.filter(Operation_rooms_Info.date==op_date_formatted).all()

table3 =[(str(e).split()[1].strip('>'),e.room_name, e.room_capacity,e.date) for e in operation_rooms_info]
op_df=pd.DataFrame(table3, columns=['id','room_name','room_capacity','date'])
op_df.set_index('id')
op_df['room_capacity']=op_df['room_capacity'].astype(int)
op_df

,id,room_name,room_capacity,date
0,Room_4-ca1e87c1-38a8-44e5-886f-91a550a5667e,Room_4,450,2022-02-19
1,Room_3-837b247d-1031-406b-a319-6f8f1bc4a456,Room_3,500,2022-02-19
2,Room_2-2d24cbf5-fad8-47c8-b4fb-e1faf838aa4f,Room_2,300,2022-02-19
3,Room_5-c62b1831-2dfa-4fb1-abff-8d04e35f1538,Room_5,270,2022-02-19
4,Room_1-db87dcca-44cf-452e-abe3-914fffde47ea,Room_1,500,2022-02-19

In [65]:
# operations


#departments

# operation rooms


# multi-knapsack, integer divisible

mdl = pyo.ConcreteModel()

# make sure id is also index in database user__entries
mdl.invs = pyo.Set(initialize=list(zip(basket.index, basket["department_name"])))
mdl.bins = pyo.Set(initialize=list(op_df.room_name)) ## list of operations room from db
mdl.deps = pyo.Set(initialize=list(dep_df.department_name)) # list of departments from db

# params
mdl.value   = pyo.Param(mdl.invs, initialize= {(row["id"],row["department_name"]):row["operation_urgency"] for i,row in basket.iterrows()} )
mdl.weight  = pyo.Param(mdl.invs, initialize= {(row["id"],row["department_name"]):row["operation_duration"] for i,row in basket.iterrows()})
mdl.bin_cap = pyo.Param(mdl.bins, initialize= {row["room_name"]:row["room_capacity"] for i,row in op_df.iterrows()} )
mdl.dep_cap = pyo.Param(mdl.deps, initialize= {row["department_name"]:row["department_capacity"] for i,row in dep_df.iterrows()}, mutable=True)



# vars
mdl.X = pyo.Var(mdl.invs, mdl.bins, within=pyo.Binary)     # the amount from invoice i in bin j



### Objective ###

mdl.OBJ = pyo.Objective(expr=sum(mdl.X[i, b]*mdl.value[i] for 
                        i in mdl.invs for
                        b in mdl.bins), sense=pyo.maximize)


### constraints ###

# don't overstuff bin
def bin_limit(self, b):
    return sum(mdl.X[i, b]*mdl.weight[i] for i in mdl.invs) <= mdl.bin_cap[b]
mdl.bin_limit = pyo.Constraint(mdl.bins, rule=bin_limit)

# one_item can be only in a single op room.
def one_item(self, i,d):
    return sum(mdl.X[i,d,b] for b in mdl.bins) <=1
mdl.one_item = pyo.Constraint(mdl.invs, rule=one_item)



# department limits

mdl.dep_limits=pyo.ConstraintList()

for d in mdl.deps:
    d_list=[]
    for i in mdl.X:
        if d==i[1]:
            d_list.append(i)    
    mdl.dep_limits.add(expr=(sum(mdl.X[i]*mdl.weight[i[:2]] for i in d_list)<=mdl.dep_cap[d])) 



# solve it...
solver = pyo.SolverFactory('glpk')
results = solver.solve(mdl)


# save the output into dictionary
dic=dict()

for i in mdl.X:
    if pyo.value(mdl.X[i])==1:
        dic[i[0]]=i[2]


if basket.index.isin(list(dic.keys())).all():
    basket['operation_room'] = basket.index.map(dic) 
    #print(basket)

else:
    print('not possible')

In [66]:
basket

,id,doctor,operation_date,department_name,operation_duration,operation_urgency,operation_room
id,,,,,,,
Department_5-87ca82a9-b5f6-489c-9384-d75d2c632a47,Department_5-87ca82a9-b5f6-489c-9384-d75d2c632a47,Jack,2022-02-19,Department_5,70,7,Room_1
Department_4-440ad8fa-4580-49cc-a12b-faf0a31af41a,Department_4-440ad8fa-4580-49cc-a12b-faf0a31af41a,John Cena,2022-02-19,Department_4,90,5,Room_1
Department_1-20e8e301-1cdd-4b29-ac26-72a7376b5c22,Department_1-20e8e301-1cdd-4b29-ac26-72a7376b5c22,Kurt Boz,2022-02-19,Department_1,100,10,Room_1
Department_2-4dd8a4b8-978d-498e-a1bb-f07897abd374,Department_2-4dd8a4b8-978d-498e-a1bb-f07897abd374,Shirvan Hashimov,2022-02-19,Department_2,200,8,Room_5
Department_2-eefb1c4c-ccb2-4611-bd4c-a1a420bda81c,Department_2-eefb1c4c-ccb2-4611-bd4c-a1a420bda81c,Dekre dss,2022-02-19,Department_2,35,3,Room_1